@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .md-editor-wrapper {
    width: 90vw;
    margin-left: calc(-49vw + 50%);
    margin-right: calc(-49vw + 50%);
    margin-left: auto;
    margin-right: auto;
  }
}
